/* formatting the header */
.heading{
    background-image: url(/images/nature\ background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-position: fixed;
    background-size: auto;
    background-blend-mode: overlay;
    margin: 25px;
    height: 320px;
    text-align: center;
    font-size: xxx-large;
}
/* end of formatting */

/* formatting header elements */
h1,h4{
    text-align: center;
    font-size: 40px;
    top: 85px;
    position: relative;
}

h2 {
    text-align: center;
    position: relative;
    color: darkcyan;
    font-family: Arial, Helvetica, sans-serif;
}
/* end of format */

/* projects section */
.projects {
    position:relative
}

body{
    background-color: lavender;
    
}

.interests{
    display: grid;
    grid-template-columns: auto;
    padding: 0 20px;
}
p{
    color: black;
    padding: auto;
    
}

h3{
    font-size: 17px;
    color: rgba(1, 0, 17, 0.349);
    float: inline-start;